name: test

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: WillAbides/setup-go-faster@v1.9.0
        with:
          go-version: ^1.18
      - run: go install honnef.co/go/tools/cmd/staticcheck@latest
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - run: go mod download -x
      - run: go generate ./...
      - run: make lint
      - run: make test
